{
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-regenerator",
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false
    }],
    "transform-es2015-classes",
    "transform-es2015-modules-commonjs",
    "transform-es2015-spread"
  ]
}
